<div class="page index-page">
	<div class="hero-unit cta">
		<h1>Worldchat</h1>
		<p>Venue based Chatrooms</p>
		<p class="cta-container">
			<a href="#" class="geolocate btn-success btn btn-large hide">
				Show Chatrooms Around Me
			</a>
		</p>
	</div>
</div>